/*!LIGNE ENTRE TITRE ET BOITES*/
#ligneVide {
    height: 20px;
}

/*!BOITES MENU*/
#containBoite {
    overflow-y: scroll;
    max-height: 450px;
}

/* *Cache la scrollbar avec Firefox */
.custom-scrollbar-y {
    scrollbar-color: #007bff00 #f1f1f100;
    height: 600px;
}

/* *Cache la scrollbar avec Chrome */
#containBoite::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#commandeCours {
    border: 3px solid #f1f0f0;
    border-radius: 25px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    color: #f1f0f0;
    height: 550px;
    width: auto;
    padding-top: 10px;
}

#commandeCours {
    background-color: #87bb35;
}

[id^="pdtimg"] {
    width: 80px;
    border-radius: 15px;
    visibility: hidden;
}

#mesCommandesCours {
    background-color: #ed5c01;
}

.date {
    color: #150a0a;
    font-size: 12px;
    line-height: 4px;
}

[id^="Produit"] {
    color: #000909;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.menu {
    font-size: 22px;
    line-height: 25px;
    font-weight: bolder;
}

#TotCommande {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}