<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>

    <title>SOLALIM Mentions-legales</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <!-- Feuilles de style CSS -->
    <link rel="stylesheet" th:href="@{/css/mentions-legales.css}">

    <!-- JavaScript -->
    <script async th:src="@{/js/ScriptCommun.js}"></script>
    <script async th:src="@{/js/mentions-legales.js}"></script>
</head>

<body class="body-dark">
<!--!PAGE PRINCIPALE-->

<div id="page" class = "container ">

    <!--! HEADER PAGE PRINCIPALE -->

    <div id="rowPage" class="row">

        <header class="container ">
            <div class="row text-end m-2">
                <div class=" d-flex justify-content-end align-items-center">
                    <input type="checkbox" id="switch" ><label id="butSwitch" for="switch"></label>
                </div>
            </div>
            <div id="ContainerTitrePage" class="container col-12">
                <div class="row">
                    <div class="col-4 text-end">
                        <a th:href="@{accueil}"><img id="logosola" th:src="@{/img/logoSolalim.png}" alt="logo"></a>
                    </div>
                    <div class="col-8">
                        <h1 class="d-flex align-items-center pageTitre" >APPLICATION SOLALIM</h1>
                    </div>
                </div>
            </div>
        </header>


            <!-- ! CORPS DE PAGE -->
        <main class="container">
            <div class="row m-5">
                <div>
                    <h1 class="col-12 pageTitre text-center">Technologies Utilisées</h1>
                </div>                
            </div>
            <!-- !RONDS TECHNO -->
                <div class="row">                
                    <div class="boiteBox col-2">
                        <div class="boite">
                            <div class="boite-front"> <img alt="HTML" class="techno" th:src="@{/img/html.png}">
                            </div>
                            <div id="html" class="boite-back text-center">HTML avec BOOTSTRAP</div>
                        </div>
                    </div>
                    <div class="boiteBox col-2">
                        <div class="boite">
                            <div class="boite-front"> <img alt="HTML" class="techno" th:src="@{/img/css.png}">
                            </div>
                            <div id="css" class="boite-back text-center">CSS</div>
                        </div>
                    </div>
                    <div class="boiteBox col-2">
                        <div class="boite">
                            <div class="boite-front"> <img alt="HTML" class="techno" th:src="@{/img/js.png}">
                            </div>
                            <div id="js" class="boite-back text-center">JavaScript</div>
                        </div>
                    </div>
                    <div class="boiteBox col-2">
                        <div class="boite">
                            <div class="boite-front"> <img alt="HTML" class="techno" th:src="@{/img/java.png}">
                            </div>
                            <div id="java" class="boite-back text-center">Java avec Gradle et Spring</div>
                        </div>
                    </div>
                    <div class="boiteBox col-2">
                        <div class="boite">
                            <div class="boite-front"> <img alt="HTML" class="techno" th:src="@{/img/sqlimg.png}">
                            </div>
                            <div id="sql" class="boite-back text-center">SQL</div>
                        </div>
                    </div>
                </div>
                <!-- ! slideshow -->
            <div class="row m-5">
                <div class="col-8 text-center row m-5">
                    <div id="slideshow">  
                        <div class="slideshow-item"><img th:src="@{/img/logoSolalim.png}" alt="Image 1" /></div>
                        <div class="slideshow-item"><img th:src="@{/img/commandes/petillantSlide.png}" alt="Image 1" /></div>
                        <div class="slideshow-item"><img th:src="@{/img/commandes/compoteSlide.png}" alt="Image 1" /></div>
                        <div class="slideshow-item"><img th:src="@{/img/commandes/pixieSlide.png}" alt="Image 1" /></div>
                        <div class="slideshow-item"><img th:src="@{/img/commandes/opalSlide.png}" alt="Image 1" /></div>
                    </div>
                </div>
            <!--! GIT -->
            
                <div class="col-2">
                    <h1 class=" pageTitre text-center">Lien GIT</h1>

                    <div class="text-center">
                        <div  class=" btn custom-button ">
                            <a  href="https://github.com/EricUnternahr/SiteSolalim.git" target="_blank">
                                <img th:src="@{/img/git.png}" alt="Git Logo" class="normal-image lienGIT">
                                <img th:src="@{/img/git-hover.png}" alt="Image au survol" class="hover-image lienGIT">
                                <img th:src="@{/img/git-active.png}" alt="Image au clic" class="active-image lienGIT"></a>
                        </div>
                    </div>
                </div>                
            </div>
        </main>
    </div>
</div>


<!--! FOOTER DE LA PAGE -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



</body>
</html>
